<div class="rose">

<h1>Greeted users</h1>
<table>
{{#each actions}}

<tr>
<td>
<a class="koo"  href="/greeted/{{@key}}">{{@key}} </a>
</td>

</tr>
{{/each}}
</table>

</div><br>

<br>
<a href="/"> BACK</a>