<div class="rose">

<h1>Greeted NAMES</h1>
<table>
{{#each actions}}

<tr>
<td>
<a class="koo"  href="/greeted/{{name}}">{{name}} </a>
</td>

</tr>
{{/each}}
</table>

</div><br>

<br>
<div class="listBtn">
<button> <a href="/greetedname"> HOME</a> </button>


</div>